.ds-c-banner__paper {
    --ds-text-color: var(--ds-color--white-100);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--ds-spacing--M) var(--ds-spacing--XL);

    box-sizing: border-box;
    min-height: 60px;

    z-index: var(--ds-zIndex--2);
}

.ds-c-banner__paper > .ds-c-banner__child:not(:last-child) {
    margin-right: var(--ds-spacing--M);
}
