.thc-c-drawer-aware-container {
    display: flex;

    height: 100%;
}

.thc-c-drawer-aware-container--anchor-left {
    flex-direction: row;
}

.thc-c-drawer-aware-container--anchor-right {
    flex-direction: row-reverse;
}

.thc-c-drawer-aware-container__drawer-placeholder {
    flex: 0 0 auto;
}

.thc-c-drawer-aware-container__content {
    flex: 1;

    max-height: 100%;
    overflow-y: auto;
}
