.ds-c-drawer__paper {
    overflow-y: auto;

    position: fixed;
    top: 0;

    height: 100vh;
    z-index: var(--ds-zIndex--3);

    outline: none;
}

.ds-c-drawer__paper--left {
    left: 0;
    right: auto;
}

.ds-c-drawer__paper--right {
    left: auto;
    right: 0;
}

.ds-c-drawer__paper--top {
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    height: auto;
    max-height: 100%;
}

.ds-c-drawer__paper--bottom {
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    max-height: 100%;
}

.ds-c-drawer__paper--XL {
    width: clamp(1100px, 90vw, 1400px);
}

.ds-c-drawer__paper--L {
    width: clamp(700px, 70vw, 1050px);
}

.ds-c-drawer__paper--M {
    width: clamp(550px, 50vw, 650px);
}

.ds-c-drawer__paper--S {
    width: clamp(450px, 40vw, 550px);
}

.ds-c-drawer--docked .ds-c-drawer__paper--left {
    border-right: var(--ds-borderSolid--S);
}

.ds-c-drawer--docked .ds-c-drawer__paper--right {
    border-left: var(--ds-borderSolid--S);
}
