.ds-c-overlay {
    --ds-overlay-color: var(--ds-color--black-50);

    z-index: var(--ds-zIndex--neg);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--ds-overlay-color);

    transition: background-color var(--ds-animationDuration--M);
}

.ds-c-overlay--invisible {
    --ds-overlay-color: transparent;
}
