.thc-c-toast {
    align-items: center;

    padding: var(--thc-spacing--S);

    border-radius: var(--thc-radius--S);
}

.thc-c-toast .Toastify__toast-body {
    margin: 0;

    display: flex;
    align-items: center;
}

.thc-c-toast.Toastify__toast--dark,
.thc-c-toast.Toastify__toast--info,
.thc-c-toast.Toastify__toast--success,
.thc-c-toast.Toastify__toast--warning,
.thc-c-toast.Toastify__toast--error {
    --thc-text-color: var(--thc-color--white-100);
}

.thc-c-toast.Toastify__toast--info {
    background-color: var(--thc-color--primary-500);
}

.thc-c-toast.Toastify__toast--success {
    background-color: var(--thc-color--green-100);
}

.thc-c-toast.Toastify__toast--warning {
    background-color: var(--thc-color--orange-100);
}

.thc-c-toast.Toastify__toast--error {
    background-color: var(--thc-color--red-100);
}
