/* Theme styling */

:root {
    --ds-tooltip-size--XXS: 160px;
    --ds-tooltip-size--XS: 240px;
    --ds-tooltip-size--S: 360px;
    --ds-tooltip-size--M: 480px;
    --ds-tooltip-size--L: 600px;

    --ds-tooltip-spacing: var(--ds-spacing--M);
}

.ds-theme--light {
    --ds-tooltip-background-color: var(--ds-color--white-100);
    --ds-tooltip-text-color: var(--ds-color--black-100);
    --ds-tooltip-border-color: var(--ds-color--grey-100);
}

.ds-theme--dark {
    --ds-tooltip-background-color: var(--ds-color--black-100);
    --ds-tooltip-text-color: var(--ds-color--white-100);
    --ds-tooltip-border-color: var(--ds-color--grey-100);
}

/* Main */

.ds-c-tooltip {
    display: none;
}

.ds-c-tooltip[data-show="true"] {
    display: block;
}

.ds-c-tooltip {
    --ds-text-color: var(--ds-tooltip-text-color);

    background-color: var(--ds-tooltip-background-color);
    box-shadow: var(--ds-shadow--M);

    border: var(--ds-borderSolid--S);
    border-color: var(--ds-tooltip-border-color);
    border-radius: var(--ds-o-box-border-radius);

    padding: var(--ds-spacing--L);

    z-index: 9999;
}

.ds-c-tooltip__child--ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ds-c-tooltip--L {
    max-width: var(--ds-tooltip-size--L);
}

.ds-c-tooltip--M {
    max-width: var(--ds-tooltip-size--M);
}

.ds-c-tooltip--S {
    max-width: var(--ds-tooltip-size--S);
}

.ds-c-tooltip--XS {
    max-width: var(--ds-tooltip-size--XS);
}

.ds-c-tooltip--XXS {
    max-width: var(--ds-tooltip-size--XXS);
}

.ds-c-tooltip--fit-content {
    width: fit-content;
}

.ds-c-tooltip__title,
.ds-c-tooltip__subtitle,
.ds-c-tooltip__content {
    margin: var(--ds-tooltip-spacing) 0;
}

.ds-c-tooltip__title:first-child,
.ds-c-tooltip__subtitle:first-child,
.ds-c-tooltip__content:first-child {
    margin-top: 0;
}

.ds-c-tooltip__title:last-child,
.ds-c-tooltip__subtitle:last-child,
.ds-c-tooltip__content:last-child {
    margin-bottom: 0;
}

.ds-c-tooltip ul {
    padding-left: 15px;
    list-style: circle;
}

.ds-c-tooltip__divider {
    border-top: var(--ds-borderSolid--S);
    border-color: var(--ds-color--surface-400);

    width: 100%;

    margin-top: calc(0px - calc(var(--ds-tooltip-spacing) / 2));
    margin-bottom: var(--ds-tooltip-spacing);
}
