{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "printWidth": 120,
    "overrides": [
        {
            "files": "src/translations/**/*.js",
            "options": {
                "printWidth": 240
            }
        }
    ]
}
