.ds-c-card__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: var(--ds-card-spacing);
}

.ds-c-card__actions-element {
    margin-left: var(--ds-spacing--M);
}

.ds-c-card__actions--centered {
    justify-content: center;
}
