:root {
    --ds-card-spacing: var(--ds-spacing--XL);
    --ds-card-spacing--condensed: var(--ds-spacing--M);
}

.ds-c-card {
    box-sizing: border-box;
}

.ds-c-card--elevated {
    box-shadow: var(--ds-actionable-box-shadow), var(--ds-paper-shadow);
}

.ds-c-card--condensed {
    --ds-card-spacing: var(--ds-card-spacing--condensed);
}
