:root {
    --ds-card-container-spacing: var(--ds-spacing--XL);
    --ds-card-container-spacing--condensed: var(--ds-spacing--M);
}

.ds-c-card-container {
    display: flex;
}

.ds-c-card-container--condensed {
    --ds-card-container-spacing: var(--ds-card-container-spacing--condensed);
}

.ds-c-card-container--full-height {
    height: 100%;
}

.ds-c-card-container--full-width {
    width: 100%;
}

/* Horizontal */

.ds-c-card-container--horizontal {
    flex-direction: row;
}

.ds-c-card-container--horizontal > .ds-c-card,
.ds-c-card-container--horizontal > .ds-c-card-container {
    flex: 1;
}

.ds-c-card-container--horizontal > .ds-c-card + .ds-c-card,
.ds-c-card-container--horizontal > .ds-c-card + .ds-c-card-container,
.ds-c-card-container--horizontal > .ds-c-card-container + .ds-c-card-container,
.ds-c-card-container--horizontal > .ds-c-card-container + .ds-c-card {
    margin-left: var(--ds-card-container-spacing);
}

/* Vertical */

.ds-c-card-container--vertical {
    flex-direction: column;
}

.ds-c-card-container--vertical > .ds-c-card + .ds-c-card,
.ds-c-card-container--vertical > .ds-c-card + .ds-c-card-container,
.ds-c-card-container--vertical > .ds-c-card-container + .ds-c-card-container,
.ds-c-card-container--vertical > .ds-c-card-container + .ds-c-card {
    margin-top: var(--ds-card-container-spacing);
}
