.ds-c-card__title-title {
    display: flex;
    align-items: center;
}

.ds-c-card__title {
    margin: var(--ds-card-spacing);
}

.ds-c-card__title-helper {
    --ds-icon-color: var(--ds-textColor--secondary);

    margin-left: var(--ds-spacing--M);
}

.ds-c-card__title-subtitle {
    --ds-text-color: var(--ds-textColor--secondary);
}
