.ds-theme--light {
    --ds-card-separator-color: var(--ds-color--black-20);
}

.ds-theme--dark {
    --ds-card-separator-color: var(--ds-color--white-20);
}

.ds-c-card__separator {
    margin: var(--ds-card-spacing);

    box-sizing: border-box;

    border-bottom: var(--ds-borderSolid--S);
    border-color: var(--ds-card-separator-color);
}

.ds-c-card__separator--full-width {
    margin: var(--ds-card-spacing) 0;
}
