.ds-c-field-container {
    display: flex;
}

.ds-c-field-container--horizontal {
    flex-direction: row;
}

.ds-c-field-container--horizontal > .ds-c-field + .ds-c-field,
.ds-c-field-container--horizontal > .ds-c-field + .ds-c-field-container,
.ds-c-field-container--horizontal > .ds-c-field-container + .ds-c-field,
.ds-c-field-container--horizontal > .ds-c-field-container + .ds-c-field-container {
    margin-left: var(--ds-form-spacing);
}

.ds-c-field-container--vertical {
    flex-direction: column;
}

.ds-c-field-container--vertical > .ds-c-field + .ds-c-field,
.ds-c-field-container--vertical > .ds-c-field + .ds-c-field-container,
.ds-c-field-container--vertical > .ds-c-field + .ds-c-form-actions,
.ds-c-field-container--vertical > .ds-c-field-container + .ds-c-field,
.ds-c-field-container--vertical > .ds-c-field-container + .ds-c-field-container,
.ds-c-field-container--vertical > .ds-c-field-container + .ds-c-form-actions,
.ds-c-field-container--vertical > .ds-c-form-actions + .ds-c-field,
.ds-c-field-container--vertical > .ds-c-form-actions + .ds-c-field-container,
.ds-c-field-container--vertical > .ds-c-form-actions + .ds-c-form-actions {
    margin-top: var(--ds-form-spacing);
}

.ds-c-field-container--centered {
    justify-content: center;
}
