.thc-c-field-container {
    display: flex;
}

.thc-c-field-container--horizontal {
    flex-direction: row;
}

.thc-c-field-container--horizontal > .thc-c-field + .thc-c-field,
.thc-c-field-container--horizontal > .thc-c-field + .thc-c-field-container,
.thc-c-field-container--horizontal > .thc-c-field-container + .thc-c-field,
.thc-c-field-container--horizontal > .thc-c-field-container + .thc-c-field-container {
    margin-left: var(--thc-form-spacing);
}

.thc-c-field-container--vertical {
    flex-direction: column;
}

.thc-c-field-container--vertical > .thc-c-field + .thc-c-field,
.thc-c-field-container--vertical > .thc-c-field + .thc-c-field-container,
.thc-c-field-container--vertical > .thc-c-field + .thc-c-form-actions,
.thc-c-field-container--vertical > .thc-c-field-container + .thc-c-field,
.thc-c-field-container--vertical > .thc-c-field-container + .thc-c-field-container,
.thc-c-field-container--vertical > .thc-c-field-container + .thc-c-form-actions,
.thc-c-field-container--vertical > .thc-c-form-actions + .thc-c-field,
.thc-c-field-container--vertical > .thc-c-form-actions + .thc-c-field-container,
.thc-c-field-container--vertical > .thc-c-form-actions + .thc-c-form-actions {
    margin-top: var(--thc-form-spacing);
}

.thc-c-field-container--centered {
    justify-content: center;
}
