:root {
    --ds-icon-wrapper-spacing--vertical: var(--ds-spacing--M);
    --ds-icon-wrapper-spacing--horizontal: var(--ds-spacing--S);
}

.ds-c-icon-wrapper--condensed {
    --ds-icon-wrapper-spacing--vertical: var(--ds-spacing--S);
    --ds-icon-wrapper-spacing--horizontal: var(--ds-spacing--XS);
}

.ds-c-icon-wrapper {
    display: flex;
    align-items: center;

    width: fit-content;
}

.ds-c-icon-wrapper__icon {
    flex-shrink: 0;
}

.ds-c-icon-wrapper--full-width {
    width: 100%;
}

.ds-c-icon-wrapper--top {
    flex-direction: column-reverse;
}

.ds-c-icon-wrapper--top > .ds-c-icon-wrapper__icon {
    margin-bottom: var(--ds-icon-wrapper-spacing--vertical);
}

.ds-c-icon-wrapper--right {
    flex-direction: row;
}

.ds-c-icon-wrapper--right > .ds-c-icon-wrapper__icon {
    margin-left: var(--ds-icon-wrapper-spacing--horizontal);
}

.ds-c-icon-wrapper--bottom {
    flex-direction: column;
}

.ds-c-icon-wrapper--bottom > .ds-c-icon-wrapper__icon {
    margin-top: var(--ds-icon-wrapper-spacing--vertical);
}

.ds-c-icon-wrapper--left {
    flex-direction: row-reverse;
}

.ds-c-icon-wrapper--left > .ds-c-icon-wrapper__icon {
    margin-right: var(--ds-icon-wrapper-spacing--horizontal);
}

.ds-c-icon-wrapper__content {
    --ds-text-lineHeight: normal;
}
