.ds-c-open-close-icon {
    transition: transform var(--ds-animationDuration--S);

    padding: var(--ds-spacing--XS);
    border-radius: var(--ds-radius--L);
}

.ds-c-open-close-icon--close {
    transform: rotate(0deg);
}

.ds-c-open-close-icon--open {
    transform: rotate(-180deg);
}
