.thc-c-open-close-icon {
    transition: transform var(--thc-animationDuration--S);

    padding: var(--thc-spacing--XS);
    border-radius: var(--thc-radius--L);
}

.thc-c-open-close-icon--close {
    transform: rotate(0deg);
}

.thc-c-open-close-icon--open {
    transform: rotate(-180deg);
}
