.thc-theme--light {
    --thc-owner-member-icon-bg-color: var(--thc-color--black-10);
}

.thc-theme--dark {
    --thc-owner-member-icon-bg-color: var(--thc-color--white-20);
}

.thc-c-owner-member-icon {
    --thc-icon-color: var(--thc-textColor--secondary);

    position: relative;

    background-color: var(--thc-owner-member-icon-bg-color);

    width: fit-content;
    border-radius: var(--thc-radius--L);
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thc-c-owner-member-icon__owner-icon {
    --thc-icon-color: var(--thc-color--blue-500);

    position: absolute;
    top: -5px;
    right: 0;
}
