:root {
    --ds-header-height: 70px;
}

.ds-c-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;
    height: var(--ds-header-height);
    box-sizing: border-box;

    padding: 0 var(--ds-spacing--M);

    border-bottom: var(--ds-borderSolid--S);
}

.ds-c-header__content {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ds-c-header__actions {
    display: flex;
    align-items: center;

    margin-left: var(--ds-spacing--M);
}

.ds-c-header__actions .ds-c-button:not(:last-child) {
    margin-right: var(--ds-spacing--M);
}
