.ds-c-layout {
    height: 100vh;
    width: 100vw;

    min-width: var(--ds-layout-minWidth);
    min-height: var(--ds-layout-minHeight);

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "menu page";

    background-color: var(--ds-layout-background-color);
}

.ds-c-layout__menu {
    grid-area: menu;
}

.ds-c-layout__header {
    grid-area: header;
}

.ds-c-layout__page {
    grid-area: page;

    overflow-y: auto;
}

@media (max-width: 1280px) {
    .ds-c-layout {
        height: calc(100vh - 15px);
    }
}
