.thc-theme--light {
    --thc-drawer-header-subtitle-color: var(--thc-textColor--secondary);
}

.thc-theme--dark {
    --thc-drawer-header-subtitle-color: var(--thc-color--warning-500);
}

.thc-c-drawer__header {
    display: flex;
    align-items: center;

    margin: var(--thc-spacing--M);
}

.thc-c-drawer__header-button {
    margin-right: var(--thc-spacing--S);
}

.thc-c-drawer__header-subtitle {
    --thc-text-color: var(--thc-drawer-header-subtitle-color);
}
