:root {
    --ds-animationDuration--S: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    --ds-animationDuration--M: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    --ds-animationDuration--L: 700ms cubic-bezier(0.4, 0, 0.2, 1);
}
