:root {
    --thc-border-size--S: 1px;
    --thc-border-size--L: 3px;
}

.thc-theme--light {
    --thc-border-color: var(--thc-color--black-20);
}

.thc-theme--dark {
    --thc-border-color: var(--thc-color--white-20);
}

.thc-theme--light,
.thc-theme--dark {
    --thc-borderSolid--S: var(--thc-border-size--S) solid var(--thc-border-color);
    --thc-borderSolid--L: var(--thc-border-size--L) solid var(--thc-border-color);
    --thc-borderDashed--S: var(--thc-border-size--S) dashed var(--thc-border-color);
    --thc-borderDashed--L: var(--thc-border-size--L) dashed var(--thc-border-color);
}

.thc-theme--color {
    --thc-border-color: var(--thc-Color--white-100);

    --thc-borderSolid--S: var(--thc-border-size--S) solid var(--thc-border-color);
    --thc-borderSolid--L: var(--thc-border-size--L) solid var(--thc-border-color);
    --thc-borderDashed--S: var(--thc-border-size--S) dashed var(--thc-border-color);
    --thc-borderDashed--L: var(--thc-border-size--L) dashed var(--thc-border-color);
}
