:root {
    --ds-border-size--S: 1px;
    --ds-border-size--M: 2px;
    --ds-border-size--L: 3px;
}

.ds-theme--light {
    --ds-border-color: var(--ds-color--grey-100);
}

.ds-theme--dark {
    --ds-border-color: var(--ds-color--white-20);
}

.ds-theme--light,
.ds-theme--dark {
    --ds-borderSolid--S: var(--ds-border-size--S) solid var(--ds-border-color);
    --ds-borderSolid--M: var(--ds-border-size--M) solid var(--ds-border-color);
    --ds-borderSolid--L: var(--ds-border-size--L) solid var(--ds-border-color);
    --ds-borderDashed--S: var(--ds-border-size--S) dashed var(--ds-border-color);
    --ds-borderDashed--M: var(--ds-border-size--M) dashed var(--ds-border-color);
    --ds-borderDashed--L: var(--ds-border-size--L) dashed var(--ds-border-color);
}

.ds-theme--color {
    --ds-border-color: var(--ds-Color--white-100);

    --ds-borderSolid--S: var(--ds-border-size--S) solid var(--ds-border-color);
    --ds-borderSolid--M: var(--ds-border-size--M) solid var(--ds-border-color);
    --ds-borderSolid--L: var(--ds-border-size--L) solid var(--ds-border-color);
    --ds-borderDashed--S: var(--ds-border-size--S) dashed var(--ds-border-color);
    --ds-borderDashed--M: var(--ds-border-size--M) dashed var(--ds-border-color);
    --ds-borderDashed--L: var(--ds-border-size--L) dashed var(--ds-border-color);
}
