:root {
    --ds-layout-minWidth: 1280px;
    --ds-layout-minHeight: 500px;

    --ds-layout-v-padding: var(--ds-spacing--L);
    --ds-layout-h-padding: var(--ds-spacing--L);
}

.ds-theme--light {
    --ds-layout-background-color: #f5fafe;
}

.ds-theme--dark {
    --ds-layout-background-color: var(--ds-color--black-100);
}
