:root {
    --ds-spacing--XXS: 2px;
    --ds-spacing--XS: 4px;
    --ds-spacing--S: 8px;
    --ds-spacing--M: 12px;
    --ds-spacing--L: 16px;
    --ds-spacing--XL: 24px;
    --ds-spacing--XXL: 32px;
    --ds-spacing--3XL: 40px;
    --ds-spacing--4XL: 48px;
    --ds-spacing--5XL: 56px;
    --ds-spacing--6XL: 64px;
}
