:root {
    --ds-fontFamily--roboto: "Roboto";
}

:root {
    --ds-fontSize--XS: 11px;
    --ds-fontSize--S: 13px;
    --ds-fontSize--M: 16px;
    --ds-fontSize--L: 23px;
    --ds-fontSize--XL: 33px;
}

:root {
    --ds-fontWeight--regular: 400;
    --ds-fontWeight--medium: 500;
    --ds-fontWeight--semi-bold: 600;
    --ds-fontWeight--bold: 700;
}

:root {
    --ds-lineHeight--XS: 15.4px;
    --ds-lineHeight--S: 18.2px;
    --ds-lineHeight--M: 22.4px;
    --ds-lineHeight--L: 32.2px;
    --ds-lineHeight--XL: 46.2px;
}

.ds-theme--light {
    --ds-textColor--primary: var(--ds-color--black-100);
    --ds-textColor--accent: var(--ds-color--primary-500);
    --ds-textColor--secondary: var(--ds-color--black-40);
}

.ds-theme--dark,
.ds-theme--color {
    --ds-textColor--primary: var(--ds-color--white-100);
    --ds-textColor--accent: var(--ds-color--white-100);
    --ds-textColor--secondary: var(--ds-color--white-40);
}
