:root {
    --ds-zIndex--neg: -1;
    --ds-zIndex--1: 1000; /* Everything else */
    --ds-zIndex--2: 2000; /* Banner */
    --ds-zIndex--3: 3000; /* Drawer */
    --ds-zIndex--4: 4000; /* Tooltips */
    --ds-zIndex--5: 5000; /* Toasts */
    --ds-zIndex--6: 6000; /* Popups */
}
