:root {
    --thc-loader-spinner-background-color: var(--thc-color--success-500);
    --thc-loader-spinner-background-color--loading: var(--thc-color--success-200);
    --thc-loader-spinner-icon-color: var(--thc-color--success-500);
}

.thc-c-loader-spinner--loading {
    --thc-loader-spinner-background-color: var(--thc-loader-spinner-background-color--loading);
}

.thc-c-loader-spinner {
    width: 100%;
    height: 10px;

    border-radius: var(--thc-radius--S);
    background: var(--thc-loader-spinner-background-color);

    overflow: hidden;
}

.thc-c-loader-spinner__icon.thc-c-icon {
    --thc-text-color: var(--thc-loader-spinner-icon-color);

    transform: translate(-50%, -34%);
    width: 100%;
    height: 30px;

    animation: thc-kf-loader-spinner 0.8s ease-in-out 0s infinite alternate;
}

@keyframes thc-kf-loader-spinner {
    100% {
        transform: translate(50%, -34%);
    }
}
