.ds-c-loader-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 26px;
    height: 29px;
}

.ds-c-loader-icon__ball {
    width: 23%;

    border-radius: 15px;
}

.ds-c-loader-icon__a {
    animation: ds-kf-loader-icon-ball-a 0.7s ease-out 0s infinite alternate;
}

.ds-c-loader-icon__b {
    animation: ds-kf-loader-icon-ball-b 0.7s ease-out 0.2s infinite alternate;
}

.ds-c-loader-icon__c {
    animation: ds-kf-loader-icon-ball-c 0.7s ease-out 0.4s infinite alternate;
}

/*ANIMATION STORAGE*/
@keyframes ds-kf-loader-icon-ball-a {
    from {
        height: 30%;
        opacity: 0.3;
        background: var(--ds-color--white-100);
    }
    to {
        height: 100%;
        opacity: 1;
        background: var(--ds-color--primary-300);
    }
}

@keyframes ds-kf-loader-icon-ball-b {
    from {
        height: 30%;
        opacity: 0.3;
        background: var(--ds-color--white-100);
    }
    to {
        height: 90%;
        opacity: 1;
        background: var(--ds-color--primary-500);
    }
}

@keyframes ds-kf-loader-icon-ball-c {
    from {
        height: 30%;
        opacity: 0.3;
        background: var(--ds-color--white-100);
    }
    to {
        height: 80%;
        opacity: 1;
        background: var(--ds-color--primary-700);
    }
}
