.ds-c-loader-container {
    display: flex;
    align-items: center;

    margin: var(--ds-spacing--M) 0;
}

.ds-c-loader-container .ds-c-loader-progression,
.ds-c-loader-container .ds-c-loader-spinner {
    flex: 1;
}

.ds-c-loader-container .ds-c-loader-progression:not(:last-child),
.ds-c-loader-container .ds-c-loader-spinner:not(:last-child) {
    margin-right: var(--ds-spacing--M);
}
