:root {
    --ds-loader-progression-background-color: var(--ds-colorDataviz--grey-50);
    --ds-loader-progression-background-color--accent: var(--ds-color--success-500);
    --ds-loader-progression-background-color--accent-error: var(--ds-color--error-500);
    --ds-loader-progression-background-color--accent-warning: var(--ds-color--warning-500);

    --ds-loader-progression-border-radius: var(--ds-radius--S);

    --ds-loader-progression-height: 10px;
}

.ds-c-loader-progression {
    height: var(--ds-loader-progression-height);
    width: 100%;

    border-radius: var(--ds-loader-progression-border-radius);
    background: var(--ds-loader-progression-background-color);
}

.ds-c-loader-progression--error {
    --ds-loader-progression-background-color--accent: var(--ds-loader-progression-background-color--accent-error);
}

.ds-c-loader-progression--warning {
    --ds-loader-progression-background-color--accent: var(--ds-loader-progression-background-color--accent-warning);
}

.ds-c-loader-progression__progress-bar {
    height: 100%;

    transition: width var(--ds-animationDuration--S);

    border-radius: var(--ds-loader-progression-border-radius);
    background-color: var(--ds-loader-progression-background-color--accent);
}
