:root {
    --ds-actionable-cursor: var(--ds-cursor--pointer);
}

.ds-theme--light {
    --ds-actionable-box-shadow-color--default: transparent;
    --ds-actionable-box-shadow-color--hover: var(--ds-color--black-10);
    --ds-actionable-box-shadow-color--active: var(--ds-color--black-20);
    --ds-actionable-box-shadow-color--disabled: var(--ds-color--black-10);
}

.ds-theme--dark {
    --ds-actionable-box-shadow-color--default: transparent;
    --ds-actionable-box-shadow-color--hover: var(--ds-color--white-20);
    --ds-actionable-box-shadow-color--active: var(--ds-color--white-10);
    --ds-actionable-box-shadow-color--disabled: var(--ds-color--white-10);
}

.ds-theme--color {
    --ds-actionable-box-shadow-color--default: transparent;
    --ds-actionable-box-shadow-color--hover: var(--ds-color--white-20);
    --ds-actionable-box-shadow-color--active: var(--ds-color--black-20);
    --ds-actionable-box-shadow-color--disabled: var(--ds-color--white-10);
}

.ds-o-actionable {
    --ds-actionable-box-shadow: inset 0 0 0 100vmax var(--ds-actionable-box-shadow-color);
    --ds-actionable-box-shadow-color: var(--ds-actionable-box-shadow-color--default);

    box-shadow: var(--ds-actionable-box-shadow);

    transition: box-shadow var(--ds-animationDuration--S), color var(--ds-animationDuration--S);
}

.ds-o-actionable,
.ds-o-actionable--cursor {
    cursor: var(--ds-actionable-cursor);
}

/* States */

.ds-o-actionable:hover,
.ds-o-actionable--focus:focus {
    --ds-actionable-box-shadow-color: var(--ds-actionable-box-shadow-color--hover);
}

.ds-o-actionable:active {
    --ds-actionable-box-shadow-color: var(--ds-actionable-box-shadow-color--active);
}

.ds-o-actionable[disabled] {
    --ds-text-color: var(--ds-textColor--secondary);
    --ds-actionable-box-shadow-color: var(--ds-actionable-box-shadow-color--disabled);
    --ds-actionable-cursor: var(--ds-cursor--notAllowed);
}
