:root {
    --ds-o-box-border-radius: var(--ds-radius--S);
}

.ds-theme--light {
    --ds-o-box-border: none;
}

.ds-theme--dark {
    --ds-o-box-border: var(--ds-borderSolid--S);
}

.ds-o-box {
    border: var(--ds-o-box-border);
    border-radius: var(--ds-o-box-border-radius);
    border-color: var(--ds-border-color);
}

.ds-o-box--outlined {
    --ds-o-box-border: var(--ds-borderSolid--S);
}

.ds-o-box--rectangular {
    border-radius: 0;
}
