:root {
    --ds-flex-spacing: var(--ds-spacing--S);
}

/* Container */

.ds-o-flex {
    display: flex;
    align-items: center;
}

.ds-o-flex--column {
    flex-direction: column;
}

.ds-o-flex--space-between {
    justify-content: space-between;
}

.ds-o-flex--space-around {
    justify-content: space-around;
}

.ds-o-flex--center {
    justify-content: center;
}

.ds-o-flex--align-start {
    align-items: flex-start;
}

.ds-o-flex--align-end {
    align-items: flex-end;
}

.ds-o-flex--justify-end {
    justify-content: flex-end;
}

.ds-o-flex--spaced:not(.ds-o-flex--column) {
    gap: var(--ds-flex-spacing);
}

.ds-o-flex--spaced.ds-o-flex--column {
    row-gap: var(--ds-flex-spacing);
}

/* Items */

.ds-o-flex-item--1 {
    flex: 1 !important;
}

.ds-o-flex-item--2 {
    flex: 2 !important;
}

.ds-o-flex-item--3 {
    flex: 3 !important;
}

.ds-o-flex-item--4 {
    flex: 4 !important;
}

.ds-o-flex-item--5 {
    flex: 5 !important;
}

.ds-o-flex-item--6 {
    flex: 6 !important;
}

.ds-o-flex-item--7 {
    flex: 7 !important;
}

.ds-o-flex-item--8 {
    flex: 8 !important;
}

.ds-o-flex-item--9 {
    flex: 9 !important;
}

.ds-o-flex-item--10 {
    flex: 10 !important;
}

.ds-o-flex-item--stretch {
    align-self: stretch;
}

.ds-o-flex-gap--S {
    --ds-flex-spacing: var(--ds-spacing--S);
}

.ds-o-flex-gap--M {
    --ds-flex-spacing: var(--ds-spacing--M);
}

.ds-o-flex-gap--L {
    --ds-flex-spacing: var(--ds-spacing--L);
}

.ds-o-flex-gap--XL {
    --ds-flex-spacing: var(--ds-spacing--XL);
}
