.ds-u-icon--XS {
    width: var(--ds-iconSize--XS);
    height: var(--ds-iconSize--XS);
}
.ds-u-icon--S {
    width: var(--ds-iconSize--S);
    height: var(--ds-iconSize--S);
}

.ds-u-icon--M {
    width: var(--ds-iconSize--M);
    height: var(--ds-iconSize--M);
}

.ds-u-icon--L {
    width: var(--ds-iconSize--L);
    height: var(--ds-iconSize--L);
}
