:root {
    --ds-paper-shadow: var(--ds-shadow--transparent);
    --ds-paper-shadow--shadow: var(--ds-shadow--M);
}

.ds-theme--light {
    --ds-paper-background-color: var(--ds-color--white-100);
}

.ds-theme--dark {
    --ds-paper-background-color: var(--ds-color--black-100);
}

.ds-o-paper {
    background-color: var(--ds-paper-background-color);
    overflow: auto;
    box-shadow: var(--ds-paper-shadow);
}

.ds-o-paper--shadow {
    --ds-paper-shadow: var(--ds-paper-shadow--shadow);
}
