:root {
    --ds-status-color--error: var(--ds-color--error-500);
    --ds-status-color--info: var(--ds-color--primary-500);
    --ds-status-color--success: var(--ds-color--success-500);
    --ds-status-color--warning: var(--ds-color--warning-500);
}

.ds-u-status--error {
    --ds-status-color: var(--ds-status-color--error);
}

.ds-u-status--info {
    --ds-status-color: var(--ds-status-color--info);
}

.ds-u-status--success {
    --ds-status-color: var(--ds-status-color--success);
}

.ds-u-status--warning {
    --ds-status-color: var(--ds-status-color--warning);
}

[class*="ds-u-status--"] {
    --ds-border-color: var(--ds-status-color);
    --ds-text-color: var(--ds-status-color);
    --ds-icon-color: var(--ds-status-color);
}
