:root {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontSize: var(--ds-fontSize--M);
    --ds-text-lineHeight: var(--ds-lineHeight--M);
    --ds-text-fontWeight: var(--ds-fontWeight--regular);
    --ds-text-transform: inherit;
}

/* Variables are resolved when copied. We need to explicitly give light & dark */
.ds-theme--light,
.ds-theme--dark,
.ds-theme--color {
    --ds-text-color: var(--ds-textColor--primary);
    --ds-placeholder-color: var(--ds-textColor--secondary);
}

[class*="ds-theme--"] *,
.ds-u-text--normal {
    color: var(--ds-text-color);
    font-family: var(--ds-text-fontFamily);
    font-size: var(--ds-text-fontSize);
    line-height: var(--ds-text-lineHeight);
    font-weight: var(--ds-text-fontWeight);
    text-transform: var(--ds-text-transform);
}

.ds-u-text--title {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontSize: var(--ds-fontSize--XL);
    --ds-text-lineHeight: var(--ds-lineHeight--XL);
}

.ds-u-text--subtitle,
.ds-u-text--subtitle-bold {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(--ds-lineHeight--L);
}

.ds-u-text--subtitle-bold {
    --ds-text-fontWeight: var(--ds-fontWeight--bold);
}

.ds-u-text--label-bold {
    --ds-text-fontWeight: var(--ds-fontWeight--bold);
}

.ds-u-text--subnormal {
    --ds-text-fontSize: var(--ds-fontSize--XS);
    --ds-text-lineHeight: var(--ds-lineHeight--XS);
}

.ds-u-text--bold {
    --ds-text-fontWeight: var(--ds-fontWeight--bold);
}

.ds-u-text--secondary {
    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-u-text--accent {
    --ds-text-color: var(--ds-textColor--accent);
}

.ds-u-text--skyblue {
    --ds-text-color: var(--ds-color--blue-500);
}

.ds-u-text--capitalize {
    --ds-text-transform: capitalize;
}

.ds-u-text--uppercase {
    --ds-text-transform: uppercase;
}

strong {
    --ds-text-fontWeight: var(--ds-fontWeight--bold);
}
