:root {
    --ds-fontFamily--roboto: "Roboto";
}

:root {
    --ds-fontSize--XS: 11px;
    --ds-fontSize--S: 13px;
    --ds-fontSize--M: 16px;
    --ds-fontSize--L: 23px;
    --ds-fontSize--XL: 33px;
}

:root {
    --ds-fontWeight--regular: 400;
    --ds-fontWeight--medium: 500;
    --ds-fontWeight--semi-bold: 600;
    --ds-fontWeight--bold: 700;
}

:root {
    --ds-lineHeight--XS: 15.4px;
    --ds-lineHeight--S: 18.2px;
    --ds-lineHeight--M: 22.4px;
    --ds-lineHeight--L: 32.2px;
    --ds-lineHeight--XL: 46.2px;
}

.ds-u-typography--headline-1 {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--regular);
    --ds-text-fontSize: var(--ds-fontSize--XL);
    --ds-text-lineHeight: var(--ds-lineHeight-XL);
}

.ds-u-typography--headline-1-semi-bold {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--semi-bold);
    --ds-text-fontSize: var(--ds-fontSize--XL);
    --ds-text-lineHeight: var(--ds-lineHeight-XL);
    --ds-text-transform: none;
}

.ds-u-typography--headline-1-bold {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--semi-bold);
    --ds-text-fontSize: var(--ds-fontSize--XL);
    --ds-text-lineHeight: var(--ds-lineHeight-XL);
    --ds-text-transform: none;
}

.ds-u-typography--headline-2 {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--regular);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(----ds-lineHeight-L);
}

.ds-u-typography--headline-2-medium {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--medium);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(----ds-lineHeight-L);
}

.ds-u-typography--headline-2-semi-bold {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--semi-bold);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(----ds-lineHeight-L);
    --ds-text-transform: none;
}

.ds-u-typography--headline-2-bold {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--bold);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(----ds-lineHeight-L);
    --ds-text-transform: none;
}

.ds-u-typography--headline-2-medium {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--medium);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(----ds-lineHeight-L);
    --ds-text-transform: none;
}

.ds-u-typography--subtitle {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--regular);
    --ds-text-fontSize: var(--ds-fontSize--M);
    --ds-text-lineHeight: var(--ds-lineHeight--M);
}

.ds-u-typography--subtitle-medium {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--medium);
    --ds-text-fontSize: var(--ds-fontSize--M);
    --ds-text-lineHeight: var(--ds-lineHeight--M);
}

.ds-u-typography--body {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--regular);
    --ds-text-fontSize: var(--ds-fontSize--XS);
    --ds-text-lineHeight: var(--ds-lineHeight--XS);
}

.ds-u-typography--body-medium {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--medium);
    --ds-text-fontSize: var(--ds-fontSize--XS);
    --ds-text-lineHeight: var(--ds-lineHeight--XS);
}

.ds-u-typography--button {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--medium);
    --ds-text-fontSize: var(--ds-fontSize--S);
    --ds-text-lineHeight: var(--ds-lineHeight--S);
}

.ds-u-typography--caption {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--regular);
    --ds-text-fontSize: var(--ds-fontSize--XXS);
    --ds-text-lineHeight: var(--ds-lineHeight--XXS);
}

.ds-u-typography--caption-medium {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontWeight: var(--ds-fontWeight--medium);
    --ds-text-fontSize: var(--ds-fontSize--XXS);
    --ds-text-lineHeight: var(--ds-lineHeight--XXS);
}
