:root {
    --thc-button-background-color: none;

    --thc-button-border: none;
    --thc-button-border-color: none;
    --thc-button-border-color--disabled: none;
    --thc-button-border-radius: var(--thc-radius--L);

    --thc-button-padding: var(--thc-spacing--S);
}

.thc-c-button {
    --thc-text-fontWeight: var(--thc-fontWeight--extrabold);
    --thc-text-transform: uppercase;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: fit-content;

    background-color: var(--thc-button-background-color);

    border: var(--thc-button-border);
    border-color: var(--thc-button-border-color);
    border-radius: var(--thc-button-border-radius);

    padding: var(--thc-button-padding);
}

.thc-c-button[disabled] {
    --thc-button-border-color: var(--thc-button-border-color--disabled);
}

/* Primary & Caution type variations */

.thc-c-button--primary:not([disabled]) {
    --thc-button-background-color: var(--thc-color--blue-500);
}

.thc-c-button--caution:not([disabled]) {
    --thc-button-background-color: var(--thc-color--red-100);
}

/* Secondary type variation */

.thc-c-button--secondary {
    --thc-actionable-box-shadow-color--disabled: transparent;

    --thc-button-border: var(--thc-borderSolid--S);
    --thc-button-border-color: var(--thc-color--black-20);
    --thc-button-border-color--disabled: var(--thc-color--black-10);
}

.thc-theme--dark .thc-c-button--secondary {
    --thc-actionable-box-shadow-color--disabled: transparent;

    --thc-button-border-color: var(--thc-color--white-20);
    --thc-button-border-color--disabled: var(--thc-color--white-10);
}

.thc-theme--color .thc-c-button--secondary {
    --thc-actionable-box-shadow-color--disabled: transparent;

    --thc-button-border-color: var(--thc-color--white-50);
    --thc-button-border-color--disabled: var(--thc-color--white-10);
}
