.thc-c-button-angle {
    border-radius: 0 0 0 var(--thc-radius--L);
    padding: var(--thc-spacing--XS) var(--thc-spacing--XS) var(--thc-spacing--S) var(--thc-spacing--S);
}

/* Without background (secondary) the box-shadow overflows from the button */

.thc-c-button-angle.thc-c-button--secondary:hover {
    box-shadow: unset;
    background: var(--thc-actionable-box-shadow-color--hover);
}

.thc-c-button-angle.thc-c-button--secondary:active {
    box-shadow: unset;
    background: var(--thc-actionable-box-shadow-color--active);
}
