:root {
    --ds-button-background-color: none;

    --ds-button-border: none;
    --ds-button-border-color: none;
    --ds-button-border-color--disabled: none;
    --ds-button-border-radius: var(--ds-radius--L);

    --ds-button-padding: var(--ds-spacing--M);
}

.ds-c-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: fit-content;

    background-color: var(--ds-button-background-color);

    border: var(--ds-button-border);
    border-right: var(--ds-button-border-right, var(--ds-button-border));
    border-color: var(--ds-button-border-color);
    border-radius: var(--ds-button-border-radius);

    padding: var(--ds-button-padding);
}

.ds-c-button[disabled] {
    --ds-button-border-color: var(--ds-button-border-color--disabled);
}

/* Primary & Caution type variations */

.ds-c-button--primary:not([disabled]) {
    --ds-button-background-color: var(--ds-color--blue-500);
}

.ds-c-button--caution:not([disabled]) {
    --ds-button-background-color: var(--ds-color--error-500);
}

/* Secondary type variation */

.ds-c-button--secondary {
    --ds-actionable-box-shadow-color--disabled: transparent;

    --ds-button-border: var(--ds-borderSolid--S);
    --ds-button-border-color: var(--ds-color--black-20);
    --ds-button-border-color--disabled: var(--ds-color--black-10);
}

.ds-theme--dark .ds-c-button--secondary {
    --ds-actionable-box-shadow-color--disabled: transparent;

    --ds-button-border-color: var(--ds-color--white-20);
    --ds-button-border-color--disabled: var(--ds-color--white-10);
}

.ds-theme--color .ds-c-button--secondary {
    --ds-actionable-box-shadow-color--disabled: transparent;

    --ds-button-border-color: var(--ds-color--white-50);
    --ds-button-border-color--disabled: var(--ds-color--white-10);
}
