.ds-c-collapse {
    height: 0;
    overflow: hidden;

    transition: height var(--ds-animationDuration--S);
}

.ds-c-collapse--entered {
    height: auto;
    overflow: visible;
}

.ds-c-collapse--hidden {
    visibility: hidden;
}

.ds-c-collapse__wrapper {
    display: flex;
    width: 100%;
}

.ds-c-collapse__wrapper-inner {
    width: 100%;
}
