.ds-c-breadcrumb-bar {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 100%;
}

.ds-theme--light .ds-c-breadcrumb-bar__separator {
    --ds-icon-color: var(--ds-color--black-20);
}

.ds-theme--dark .ds-c-breadcrumb-bar__separator {
    --ds-icon-color: var(--ds-color--white-20);
}
