.ds-c-breadcrumb {
    --ds-actionable-box-shadow-color--hover: var(--ds-color--primary-100);
    --ds-actionable-box-shadow-color--active: var(--ds-color--primary-200);

    --ds-breadcrumb-color: var(--ds-textColor--accent);
    --ds-breadcrumb-color--active: var(--ds-textColor--primary);

    display: flex;
    align-items: center;

    padding: var(--ds-spacing--M);

    width: fit-content;
    align-self: stretch;

    text-decoration: none;
}

.ds-c-breadcrumb__concept {
    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-c-breadcrumb--active {
    --ds-breadcrumb-color: var(--ds-breadcrumb-color--active);
}

.ds-c-breadcrumb__icon {
    --ds-icon-color: var(--ds-breadcrumb-color);
}

.ds-c-breadcrumb__icon:not(:last-child) {
    margin-right: var(--ds-spacing--M);
}

.ds-c-breadcrumb__label {
    flex: 1;
}

.ds-c-breadcrumb__name {
    --ds-text-color: var(--ds-breadcrumb-color);
}
