.thc-c-breadcrumb {
    --thc-actionable-box-shadow-color--hover: var(--thc-color--primary-100);
    --thc-actionable-box-shadow-color--active: var(--thc-color--primary-300);

    --thc-breadcrumb-color: var(--thc-textColor--accent);
    --thc-breadcrumb-color--active: var(--thc-textColor--primary);

    display: flex;
    align-items: center;

    padding: var(--thc-spacing--S);

    width: fit-content;
    align-self: stretch;

    text-decoration: none;
}

.thc-c-breadcrumb__concept {
    --thc-text-color: var(--thc-textColor--secondary);
}

.thc-c-breadcrumb--active {
    --thc-breadcrumb-color: var(--thc-breadcrumb-color--active);
}

.thc-c-breadcrumb__icon {
    --thc-icon-color: var(--thc-breadcrumb-color);
}

.thc-c-breadcrumb__icon:not(:last-child) {
    margin-right: var(--thc-spacing--S);
}

.thc-c-breadcrumb__label {
    flex: 1;
}

.thc-c-breadcrumb__name {
    --thc-text-color: var(--thc-breadcrumb-color);
}
