:root {
    --thc-menu-width: 64px;
}

.thc-c-menu {
    border-radius: 0;

    width: var(--thc-menu-width);
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;

    border: var(--thc-borderSolid--S);
}
