.thc-theme--light,
.thc-theme--dark {
    --thc-menu-item-background-color: none;
    --thc-menu-item-background-color--active: var(--thc-color--primary-900);
}

/* Common */

.thc-c-menu-item {
    --thc-text-color: var(--thc-textColor--secondary);
    --thc-menu-item-background-color: none;

    transition: color var(--thc-animationDuration--S);
}

.thc-c-menu-item:hover {
    --thc-text-color: var(--thc-textColor--primary);
}

.thc-c-menu-item--active {
    --thc-menu-item-background-color: var(--thc-menu-item-background-color--active);
}

.thc-c-menu-item__link {
    text-decoration: none;
    outline: none;
}

/* Icon & Text */

.thc-c-menu-item-icon-label {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--thc-menu-item-background-color);

    padding: var(--thc-spacing--S) 0;
}

.thc-c-menu-item-icon-label__icon {
    padding-bottom: var(--thc-spacing--XS);
}

.thc-c-menu-item-icon-label__label {
    text-transform: uppercase;
    text-align: center;
}

/* Icon */

.thc-c-menu-item-icon {
    margin: var(--thc-spacing--S) auto;
    padding: var(--thc-spacing--S);

    border: var(--thc-borderSolid--S);
    border-radius: var(--thc-radius--L);

    background-color: var(--thc-menu-item-background-color);

    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.thc-c-menu-item-icon__tooltip {
    margin: 0 auto;
}
