.ds-theme--light,
.ds-theme--dark {
    --ds-menu-item-background-color: none;
    --ds-menu-item-background-color--active: var(--ds-color--primary-500);
}

/* Common */

.ds-c-menu-item {
    --ds-text-color: var(--ds-textColor--secondary);
    --ds-menu-item-background-color: none;

    transition: color var(--ds-animationDuration--S);
}

.ds-c-menu-item:hover {
    --ds-text-color: var(--ds-textColor--primary);
}

.ds-c-menu-item--active {
    --ds-menu-item-background-color: var(--ds-menu-item-background-color--active);
}

.ds-c-menu-item__link {
    text-decoration: none;
    outline: none;
}

/* Icon & Text */

.ds-c-menu-item-icon-label {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--ds-menu-item-background-color);

    padding: var(--ds-spacing--M) 0;
}

.ds-c-menu-item-icon-label__icon {
    padding-bottom: var(--ds-spacing--XS);
}

.ds-c-menu-item-icon-label__label {
    text-transform: uppercase;
    text-align: center;
}

/* Icon */

.ds-c-menu-item-icon {
    margin: var(--ds-spacing--M) auto;
    padding: var(--ds-spacing--M);

    border: var(--ds-borderSolid--S);
    border-radius: var(--ds-radius--L);

    background-color: var(--ds-menu-item-background-color);

    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.ds-c-menu-item-icon__tooltip {
    margin: 0 auto;
}
