:root {
    --ds-step-icon-size: 20px;
}

.ds-c-step {
    --ds-step-text-color: var(--ds-textColor--secondary);
    --ds-step-text-color--active: var(--ds-textColor--primary);
    --ds-step-text-color--completed: var(--ds-textColor--primary);

    --ds-step-icon-color: var(--ds-textColor--secondary);
    --ds-step-icon-color--active: var(--ds-color--blue-500);
    --ds-step-icon-color--completed: var(--ds-color--blue-500);

    --ds-text-color: var(--ds-step-text-color);
    --ds-icon-color: var(--ds-step-icon-color);

    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ds-c-step--active {
    --ds-step-text-color: var(--ds-step-text-color--active);
    --ds-step-icon-color: var(--ds-step-icon-color--active);
}

.ds-c-step--completed {
    --ds-step-text-color: var(--ds-step-text-color--completed);
    --ds-step-icon-color: var(--ds-step-icon-color--completed);
}

.ds-c-step__label {
    margin-bottom: var(--ds-spacing--XS);
}
