.ds-c-step-connector {
    flex: 1 1 auto;

    position: absolute;
    bottom: calc(var(--ds-iconSize--M) / 2);
    left: calc(-50% + var(--ds-iconSize--M));
    right: calc(50% + var(--ds-iconSize--M));
}

.ds-c-step-connector__line {
    display: block;

    border-top: var(--ds-borderSolid--S);
}
