:root {
    --ds-tab-min-height: 50px;
}

.ds-c-tab {
    --ds-button-border-radius: 0;

    --ds-button-padding: var(--ds-spacing--XS) var(--ds-spacing--M);

    --ds-text-color: var(--ds-color--neutral-500);

    min-height: var(--ds-tab-min-height);

    position: relative;

    flex-shrink: 0;

    box-sizing: border-box;

    white-space: normal;
    text-align: center;
}

.ds-c-tab--selected {
    --ds-text-color: var(--ds-color--grey-500);
}

.ds-c-tab__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ds-c-tabs__list-container {
    align-items: stretch;
}

.ds-c-tabs__icon--selected {
    --ds-text-color: var(--ds-color--primary-500);
}
