.thc-c-tab-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    transition: all var(--thc-animationDuration--S);

    background-color: var(--thc-textColor--accent);
}
