.ds-c-tab-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    transition: all var(--ds-animationDuration--S);

    background-color: var(--ds-textColor--accent);
}
