.ds-c-tabs {
    overflow-y: auto;

    display: flex;

    background-color: transparent;
}

.ds-c-tabs__container {
    position: relative;

    display: inline-block;
    flex: 1 1 auto;
    white-space: nowrap;
}

.ds-c-tabs__list-container {
    display: flex;
}
