/* Libs */
@import "~react-toastify/dist/ReactToastify.css";
@import "~react-dates/lib/css/_datepicker.css";

/* Resets */

.thc-theme--light form,
.thc-theme--dark form {
    margin: 0;
    padding: 0;
}

/* Quarks */
@import "./quarks.colors.css";
@import "./quarks/animation.quarks.css";
@import "./quarks/border.quarks.css";
@import "./quarks/cursor.quarks.css";
@import "./quarks/icon.quarks.css";
@import "./quarks/layout.quarks.css";
@import "./quarks/radius.quarks.css";
@import "./quarks/shadow.quarks.css";
@import "./quarks/spacing.quarks.css";
@import "./quarks/text.quarks.css";
@import "./quarks/z-index.quarks.css";

/* Atoms - Objects */
@import "./atoms/actionable.atom.css";
@import "./atoms/box.atoms.css";
@import "./atoms/flex.atoms.css";
@import "./atoms/grid.atoms.css";
@import "./atoms/paper.atoms.css";

/* Molecules */
@import "./molecules/animations/index.css";
@import "./molecules/buttons/index.css";
@import "./molecules/cards/index.css";
@import "./molecules/displays/index.css";
@import "./molecules/icons/index.css";
@import "./molecules/inputs/index.css";
@import "./molecules/layout/index.css";
@import "./molecules/lists/index.css";
@import "./molecules/loaders/index.css";
@import "./molecules/modals/index.css";
@import "./molecules/navigation/index.css";
@import "./molecules/tables/index.css";

/* Organisms */
@import "./organisms/filters/index.css";
@import "./organisms/forms/index.css";
@import "./organisms/modals/index.css";

/* Atoms - Utils */
@import "./atoms/icon.atoms.css";
@import "./atoms/status.atoms.css";
@import "./atoms/text.atoms.css";
@import "./atoms/typography.atoms.css";
