.ds-c-draggable-list-item--drag-handle {
    position: relative;
}

.ds-c-draggable-list-item__handle {
    --ds-icon-color: var(--ds-textColor--accent);

    position: absolute;
    top: 0;
    left: 0;
}
