.ds-c-droppable-drop-zone {
    --ds-o-box-border: var(--ds-borderDashed--S);
    --ds-border-color: var(--ds-color--primary-500);
    --ds-text-color: var(--ds-color--primary-500);
    min-width: 170px;
    min-height: 50px;
}
