.thc-c-droppable-drop-zone {
    --thc-o-box-border: var(--thc-borderDashed--S);
    --thc-border-color: var(--thc-color--blue-100);
    --thc-text-color: var(--thc-color--blue-100);
    min-width: 170px;
    min-height: 50px;
}
