:root {
    --ds-list-item-v-padding: var(--ds-spacing--XL);
    --ds-list-item-h-padding: var(--ds-spacing--XL);

    --ds-list-item-v-padding--condensed: var(--ds-spacing--M);
    --ds-list-item-h-padding--condensed: var(--ds-spacing--XL);

    --ds-list-item-spacing: var(--ds-spacing--M);
}

.ds-c-list-item {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.ds-c-list-item--condensed {
    --ds-list-item-v-padding: var(--ds-list-item-v-padding--condensed);
    --ds-list-item-h-padding: var(--ds-list-item-h-padding--condensed);
}

.ds-c-list-item--fullWidth {
    --ds-list-item-h-padding: 0;
}

.ds-c-list-item__container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: var(--ds-list-item-v-padding) var(--ds-list-item-h-padding);
}

.ds-c-list-item__container > [class*="ds-c-list-item-"]:not(:last-child) {
    margin-right: var(--ds-list-item-spacing);
}
