.ds-c-list-item-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ds-c-list-item-actions > .ds-c-button:not(:last-child),
.ds-c-list-item-actions > .ds-c-tooltip:not(:last-child) {
    margin-right: var(--ds-list-item-spacing);
}
