.ds-theme--light,
.ds-theme--dark {
    --ds-list-item-icon-color: var(--ds-textColor--secondary);
}

.ds-c-list-item-icon {
    --ds-icon-color: var(--ds-list-item-icon-color);

    display: inline-flex;
    flex-shrink: 0;
}

.ds-c-list-item-icon--hover {
    --ds-icon-color: transparent;
}

.ds-c-list-item:hover .ds-c-list-item-icon--hover {
    --ds-icon-color: var(--ds-list-item-icon-color);
}

.ds-c-list-item-icon--accent {
    --ds-icon-color: var(--ds-textColor--accent);
}
