.ds-c-cell {
    --ds-cell-min-height: 56px;
}

.ds-c-cell--left {
    --ds-cell-align: flex-start;
}

.ds-c-cell--center {
    --ds-cell-align: center;
}

.ds-c-cell--right {
    --ds-cell-align: flex-end;
}

.ds-c-cell--spaced {
    --ds-cell-padding: 0 var(--ds-spacing--L);
}

.ds-c-cell--condensed {
    --ds-cell-padding: 0;
}

.ds-c-cell__container {
    background-color: var(--ds-table-background-color);

    padding: var(--ds-cell-padding);

    box-sizing: border-box;
    white-space: nowrap;

    min-height: var(--ds-cell-min-height);

    display: flex;
    align-items: center;
    justify-content: var(--ds-cell-align);
}
