:root {
    --ds-bubble-percentage-size: 60px;
    --ds-bubble-percentage-radius: var(--ds-radius--L);
}

.ds-c-bubble-percentage {
    height: var(--ds-bubble-percentage-size);
    width: var(--ds-bubble-percentage-size);

    border-radius: var(--ds-bubble-percentage-radius);
    border: 3px solid var(--ds-color--primary-500);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.ds-c-bubble-percentage__percentage {
    z-index: 2;
}

.ds-c-bubble-percentage__mask {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background-color: var(--ds-color--primary-500);

    transition: height var(--ds-animationDuration--S);
}
