:root {
    --ds-bubble-value-size: 70px;
    --ds-bubble-value-radius: var(--ds-radius--L);

    --ds-bubble-value-color-gradient: linear-gradient(198.78deg, #57dafe 8.37%, #4dbfff 91.63%);
}

.ds-theme--light .ds-c-bubble-value--primary {
    --ds-bubble-value-text-color: var(--ds-color--white-100);
    --ds-bubble-value-background-image: var(--ds-bubble-value-color-gradient);
    --ds-bubble-value-border-color: var(--ds-color--white-40);
}

.ds-theme--dark .ds-c-bubble-value--primary {
    --ds-bubble-value-text-color: var(--ds-color--white-100);
    --ds-bubble-value-background-image: var(--ds-bubble-value-color-gradient);
    --ds-bubble-value-border-color: var(--ds-color--black-40);
}

.ds-theme--light .ds-c-bubble-value--secondary {
    --ds-bubble-value-text-color: var(--ds-textColor--secondary);
    --ds-bubble-value-border-color: var(--ds-color--black-10);
}

.ds-theme--dark .ds-c-bubble-value--secondary {
    --ds-bubble-value-text-color: var(--ds-textColor--secondary);
    --ds-bubble-value-border-color: var(--ds-color--white-10);
}

.ds-c-bubble-value {
    --ds-text-color: var(--ds-bubble-value-text-color);

    height: var(--ds-bubble-value-size);
    width: var(--ds-bubble-value-size);

    background-image: var(--ds-bubble-value-background-image);

    border-radius: var(--ds-bubble-value-radius);
    border: 2px solid var(--ds-bubble-value-border-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
