:root {
    --thc-bubble-percentage-size: 60px;
    --thc-bubble-percentage-radius: var(--thc-radius--L);
}

.thc-c-bubble-percentage {
    height: var(--thc-bubble-percentage-size);
    width: var(--thc-bubble-percentage-size);

    border-radius: var(--thc-bubble-percentage-radius);
    border: 3px solid var(--thc-color--primary-900);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.thc-c-bubble-percentage__percentage {
    z-index: 2;
}

.thc-c-bubble-percentage__mask {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background-color: var(--thc-color--primary-900);

    transition: height var(--thc-animationDuration--S);
}
