:root {
    --ds-chip-background-color: none;
    --ds-chip-border-color: none;
    --ds-chip-text-color: none;

    --ds-chip-border: none;
    --ds-chip-border-radius: var(--ds-radius--L);

    --ds-chip-padding: var(--ds-spacing--XS) var(--ds-spacing--M);
}

.ds-c-chip {
    background-color: var(--ds-chip-background-color);

    padding: var(--ds-chip-padding);
    width: max-content;

    word-break: keep-all;

    border: var(--ds-chip-border);
    border-radius: var(--ds-chip-border-radius);
    outline: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ds-c-chip--condensed {
    --ds-chip-padding: 2px 5px;
}

.ds-c-chip--condensed .ds-c-icon-wrapper__content {
    line-height: normal;
}

.ds-c-chip--outlined {
    --ds-chip-border: var(--ds-borderSolid--S);
}

.ds-c-chip.ds-o-actionable {
    cursor: var(--ds-cursor--default);
}

.ds-c-chip.ds-o-actionable:not([disabled]) .ds-c-chip__icon {
    cursor: var(--ds-actionable-cursor);
}

.ds-c-chip--primary {
    --ds-chip-background-color: var(--ds-color--primary-50);
    --ds-chip-border-color: var(--ds-color--primary-200);
    --ds-chip-text-color: var(--ds-color--primary-500);
}

.ds-c-chip--secondary {
    --ds-chip-background-color: var(--ds-color--grey-50);
    --ds-chip-border-color: var(--ds-color--grey-100);
    --ds-chip-text-color: var(--ds-color--grey-300);
}

.ds-c-chip--info {
    --ds-chip-background-color: var(--ds-color--blue-50);
    --ds-chip-border-color: var(--ds-color--blue-300);
    --ds-chip-text-color: var(--ds-color--blue-500);
}

.ds-c-chip--success {
    --ds-chip-background-color: var(--ds-color--success-50);
    --ds-chip-border-color: var(--ds-color--success-200);
    --ds-chip-text-color: var(--ds-color--success-500);
}

.ds-c-chip--error {
    --ds-chip-background-color: var(--ds-color--error-50);
    --ds-chip-border-color: var(--ds-color--error-300);
    --ds-chip-text-color: var(--ds-color--error-500);
}

.ds-c-chip--warning {
    --ds-chip-background-color: var(--ds-color--warning-50);
    --ds-chip-border-color: var(--ds-color--warning-300);
    --ds-chip-text-color: var(--ds-color--warning-500);
}

.ds-c-chip--purple {
    --ds-chip-background-color: var(--ds-color--purple-50);
    --ds-chip-border-color: var(--ds-color--purple-300);
    --ds-chip-text-color: var(--ds-color--purple-500);
}

.ds-c-chip--variation {
    --ds-text-color: var(--ds-chip-text-color);

    border: var(--ds-borderSolid--S);
    border-color: var(--ds-chip-border-color);
}

.ds-c-chip--cancelled {
    --ds-chip-background-color: var(--ds-color--white-100);
    --ds-chip-border-color: var(--ds-color--grey-50);
    --ds-chip-text-color: var(--ds-color--grey-200);
}
