.thc-c-chip--action {
    --thc-chip-border-radius: var(--thc-radius--M);

    --thc-chip-padding: var(--thc-spacing--S) var(--thc-spacing--S);

    --thc-chip-action-border: var(--thc-borderSolid--S);
    --thc-chip-action-border-color: var(--thc-color--primary-800);

    border: var(--thc-chip-action-border);
    border-color: var(--thc-chip-action-border-color);
}

.thc-c-chip--action[disabled] {
    --thc-chip-action-border: none;
}

.thc-c-chip--action:not([disabled]) {
    --thc-chip-background-color: var(--thc-primary--blue-50);

    --thc-actionable-box-shadow-color--hover: var(--thc-color--primary-100);
    --thc-actionable-box-shadow-color--active: var(--thc-color--primary-300);
}

.thc-theme--dark .thc-c-chip--action:not([disabled]) {
    --thc-chip-background-color: var(--thc-color--primary-100);

    --thc-actionable-box-shadow-color--hover: var(--thc-color--primary-200);
    --thc-actionable-box-shadow-color--active: var(--thc-color--primary-50);
}
