.thc-c-chip--action {
    --thc-chip-border-radius: var(--thc-radius--M);

    --thc-chip-padding: var(--thc-spacing--S) var(--thc-spacing--S);

    --thc-chip-action-border: var(--thc-borderSolid--S);
    --thc-chip-action-border-color: var(--thc-color--blue-80);

    border: var(--thc-chip-action-border);
    border-color: var(--thc-chip-action-border-color);
}

.thc-c-chip--action[disabled] {
    --thc-chip-action-border: none;
}

.thc-c-chip--action:not([disabled]) {
    --thc-chip-background-color: var(--thc-color--blue-10);

    --thc-actionable-box-shadow-color--hover: var(--thc-color--blue-20);
    --thc-actionable-box-shadow-color--active: var(--thc-color--blue-40);
}

.thc-theme--dark .thc-c-chip--action:not([disabled]) {
    --thc-chip-background-color: var(--thc-color--blue-20);

    --thc-actionable-box-shadow-color--hover: var(--thc-color--blue-30);
    --thc-actionable-box-shadow-color--active: var(--thc-color--blue-50);
}
