.ds-c-chip-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ds-c-chip-container .ds-c-chip {
    margin: var(--ds-spacing--XS) 0;
}

.ds-c-chip-container__condensed .ds-c-chip {
    margin: 0;
}

.ds-c-chip-container .ds-c-chip:not(:last-child) {
    margin-right: var(--ds-spacing--XS);
}
