.thc-c-chip-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.thc-c-chip-container .thc-c-chip {
    margin: var(--thc-spacing--XS) 0;
}

.thc-c-chip-container__condensed .thc-c-chip {
    margin: 0;
}

.thc-c-chip-container .thc-c-chip:not(:last-child) {
    margin-right: var(--thc-spacing--XS);
}
