.ds-c-chip--action {
    --ds-chip-border-radius: var(--ds-radius--M);

    --ds-chip-padding: var(--ds-spacing--M) var(--ds-spacing--M);

    --ds-chip-action-border: var(--ds-borderSolid--S);
    --ds-chip-action-border-color: var(--ds-color--primary-400);

    border: var(--ds-chip-action-border);
    border-color: var(--ds-chip-action-border-color);
}

.ds-c-chip--action[disabled] {
    --ds-chip-action-border: none;
}

.ds-c-chip--action:not([disabled]) {
    --ds-chip-background-color: var(--ds-primary--blue-50);

    --ds-actionable-box-shadow-color--hover: var(--ds-color--primary-100);
    --ds-actionable-box-shadow-color--active: var(--ds-color--primary-200);
}

.ds-theme--dark .ds-c-chip--action:not([disabled]) {
    --ds-chip-background-color: var(--ds-color--primary-100);

    --ds-actionable-box-shadow-color--hover: var(--ds-color--primary-100);
    --ds-actionable-box-shadow-color--active: var(--ds-color--primary-200);
}
