:root {
    --ds-display-container-h-spacing: var(--ds-spacing--M);
    --ds-display-container-v-spacing: var(--ds-spacing--XL);
}

.ds-c-display-container {
    display: flex;
}

/* Row */

.ds-c-display-container--row {
    --ds-display-container-v-spacing: var(--ds-spacing--M);
}

/* Column  */

.ds-c-display-container--column {
    --ds-display-container-v-spacing: var(--ds-spacing--XL);
}

/* Horizontal */

.ds-c-display-container--horizontal {
    flex-direction: row;
}

.ds-c-display-container--horizontal > .ds-c-display,
.ds-c-display-container--horizontal > .ds-c-display-resource,
.ds-c-display-container--horizontal > .ds-c-display-container {
    flex: 1;
    align-items: stretch;
}

.ds-c-display-container--horizontal > .ds-c-display:not(:last-child),
.ds-c-display-container--horizontal > .ds-c-display-resource:not(:last-child),
.ds-c-display-container--horizontal > .ds-c-display-container:not(:last-child) {
    margin-right: var(--ds-display-container-h-spacing);
}

/* Vertical */

.ds-c-display-container--vertical {
    flex-direction: column;
}

.ds-c-display-container--vertical > .ds-c-display:not(:last-child),
.ds-c-display-container--vertical > .ds-c-display-resource:not(:last-child),
.ds-c-display-container--vertical > .ds-c-display-container:not(:last-child) {
    margin-bottom: var(--ds-display-container-v-spacing);
}
