.ds-c-display {
    display: flex;

    outline: none;

    --ds-icon-color: var(--ds-textColor--secondary);
}

.ds-c-display.ds-o-actionable {
    padding: var(--ds-spacing--XS) 2px;
}

.ds-c-display--vertical {
    flex-direction: column;
}

.ds-c-display--horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ds-c-display--horizontal .ds-c-display__label-container {
    margin-right: var(--ds-spacing--XS);
}

.ds-c-display--vertical .ds-c-display__value {
    margin-top: var(--ds-spacing--XS);
}

.ds-c-display__label-container {
    display: flex;
    align-items: center;
}

.ds-c-display__label {
    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-c-display__helper-text {
    --ds-icon-color: var(--ds-textColor--secondary);

    margin-left: var(--ds-spacing--XS);
}

.ds-c-display--horizontal .ds-c-display__value {
    display: flex;
    align-items: center;
}
