.ds-c-display-resource--full-width {
    width: 100%;
}

.ds-c-display-resource .ds-c-icon-wrapper,
.ds-c-display-resource__container {
    min-width: 0;
}

.ds-c-display-resource__container--full-width {
    width: 100%;
}

.ds-c-display-resource[disabled] {
    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-c-display-resource__helper {
    --ds-text-color: var(--ds-status-color, var(--ds-textColor--secondary));
}

.ds-c-display-resource__label--full-width {
    width: 100%;
}
