.ds-c-control-label {
    --ds-control-label-cursor: var(--ds-cursor--pointer);
    --ds-control-label-cursor--disabled: var(--ds-cursor--default);

    display: inline-flex;
    align-items: center;

    cursor: var(--ds-control-label-cursor);
}

.ds-c-control-label[disabled] {
    --ds-control-label-cursor: var(--ds-control-label-cursor--disabled);
    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-c-control-label--top {
    flex-direction: column-reverse;
}

.ds-c-control-label--top .ds-c-control-label__label {
    margin-bottom: var(--ds-spacing--XS);
}

.ds-c-control-label--right {
    flex-direction: row;
}

.ds-c-control-label--right .ds-c-control-label__label {
    margin-left: var(--ds-spacing--M);
}

.ds-c-control-label--bottom {
    flex-direction: column;
}

.ds-c-control-label--bottom .ds-c-control-label__label {
    margin-top: var(--ds-spacing--XS);
}

.ds-c-control-label--left {
    flex-direction: row-reverse;
}

.ds-c-control-label--left .ds-c-control-label__label {
    margin-right: var(--ds-spacing--M);
}
