.thc-c-date-picker__calendar .CalendarMonth_table {
    margin-top: var(--thc-spacing--S);
}

.thc-c-date-picker__calendar .CalendarMonth_caption {
    --thc-text-fontFamily: var(--thc-fontFamily--montserrat);
    --thc-text-fontSize: var(--thc-fontSize--L);
    --thc-text-lineHeight: var(--thc-lineHeight--L);
}

.thc-c-date-picker .thc-c-icon {
    --thc-text-color: var(--thc-textColor--primary);
}

.thc-c-date-picker__calendar .DayPicker,
.thc-c-date-picker__calendar .DayPicker__horizontal,
.thc-c-date-picker__calendar .CalendarMonthGrid,
.thc-c-date-picker__calendar .CalendarMonth,
.thc-c-date-picker__calendar .CalendarDay__default,
.thc-c-date-picker__calendar .DayPickerNavigation_button__default {
    background: none;
}

.thc-c-date-picker__calendar .CalendarDay__default:hover {
    background: var(--thc-textColor--secondary);
}

.thc-c-date-picker__calendar .CalendarDay__selected,
.thc-c-date-picker__calendar .CalendarDay__selected:active,
.thc-c-date-picker__calendar .CalendarDay__selected:hover {
    background: var(--thc-color--blue-500);
    border-color: var(--thc-color--blue-500);
}
