.ds-c-field-label {
    --ds-text-color: var(--ds-textColor--accent);

    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.ds-c-field-label--error:not([disabled]) {
    --ds-text-color: var(--ds-status-color--error);
}

.ds-c-field-label[disabled] {
    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-c-field-label__required {
    margin-left: var(--ds-spacing--XS);
}

.ds-c-field-label:not([disabled]) .ds-c-field-label__required {
    --ds-text-color: var(--ds-color--error-500);
}
