.ds-c-field-helper-text {
    --ds-text-color: var(--ds-color--primary-500);
}

.ds-c-field-helper-text--error:not([disabled]) {
    --ds-text-color: var(--ds-status-color--error);
}

.ds-c-field-helper-text--success:not([disabled]) {
    --ds-text-color: var(--ds-status-color--success);
}

.ds-c-field-helper-text--warning:not([disabled]) {
    --ds-text-color: var(--ds-status-color--warning);
}

.ds-c-field-helper-text[disabled] {
    --ds-text-color: var(--ds-textColor--secondary);
}
