:root {
    --ds-input-size--S: 160px;
    --ds-input-size--M: 240px;
    --ds-input-size--L: 320px;

    --ds-input-min-width: var(--ds-input-size--S);
    --ds-input-width: var(--ds-input-size--S);

    --ds-input-cursor: var(--ds-cursor--text);
    --ds-input-cursor--disabled: var(--ds-cursor--default);
}

.ds-theme--light {
    --ds-input-border-color: var(--ds-color--grey-500);
    --ds-input-border-color--hover: var(--ds-color--grey-200);
    --ds-input-border-color--focus: var(--ds-color--primary-500);
    --ds-input-border-color--disabled: var(--ds-color--black-10);

    --ds-input-background-color: var(--ds-color--surface-0);
    --ds-input-background-color--hover: var(--ds-color--surface-0);
    --ds-input-background-color--focus: var(--ds-color--surface-0);
    --ds-input-background-color--disabled: var(--ds-color--surface-0);
}

.ds-theme--dark {
    --ds-input-border-color: var(--ds-color--white-20);
    --ds-input-border-color--hover: var(--ds-color--white-50);
    --ds-input-border-color--focus: var(--ds-color--white-100);
    --ds-input-border-color--disabled: var(--ds-color--white-20);

    --ds-input-background-color: var(--ds-color--black-100);
    --ds-input-background-color--hover: var(--ds-color--black-100);
    --ds-input-background-color--focus: var(--ds-color--black-100);
    --ds-input-background-color--disabled: var(--ds-color--black-100);
}

.ds-c-input--error {
    --ds-input-border-color: var(--ds-color--error-100);
    --ds-input-border-color--hover: var(--ds-color--error-200);
    --ds-input-border-color--focus: var(--ds-color--error-500);
}

.ds-c-input__container {
    --ds-input-border: var(--ds-borderSolid--S);
    --ds-input-border-radius: var(--ds-radius--XS);

    --ds-input-text-color--disabled: var(--ds-textColor--secondary);

    --ds-input-padding: var(--ds-spacing--M);

    --ds-icon-color: var(--ds-input-border-color);

    position: relative;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: var(--ds-input-padding);
    min-width: var(--ds-input-min-width);
    width: var(--ds-input-width);

    cursor: var(--ds-input-cursor);

    border: var(--ds-input-border);
    border-color: var(--ds-input-border-color);
    border-radius: var(--ds-input-border-radius);
    background-color: var(--ds-input-background-color);

    transition: border-color var(--ds-animationDuration--S), background-color var(--ds-animationDuration--S);
}

.ds-c-input__container--no-background {
    --ds-input-background-color: transparent;
}

.ds-c-input__container--S {
    --ds-input-width: var(--ds-input-size--S);
}
.ds-c-input__container--M {
    --ds-input-width: var(--ds-input-size--M);
}
.ds-c-input__container--L {
    --ds-input-width: var(--ds-input-size--L);
}

.ds-c-input__container--with-label {
    margin-top: var(--ds-spacing--M);
}

.ds-c-input--full-width {
    --ds-input-width: 100%;
}

.ds-c-input__container[disabled] {
    --ds-text-color: var(--ds-input-text-color--disabled);

    --ds-input-border-color: var(--ds-input-border-color--disabled);
    --ds-input-background-color: var(--ds-input-background-color--disabled);

    --ds-input-cursor: var(--ds-input-cursor--disabled);
}

.ds-c-input__container:not([disabled]):hover {
    --ds-input-border-color: var(--ds-input-border-color--hover);
    --ds-input-background-color: var(--ds-input-background-color--hover);
}

.ds-c-input__container.ds-c-input--focus:not([disabled]) {
    --ds-input-border-color: var(--ds-input-border-color--focus);
    --ds-input-background-color: var(--ds-input-background-color--focus);
}

.ds-c-input__label {
    --ds-text-color: var(--ds-input-border-color);

    position: absolute;

    left: var(--ds-spacing--M);
    top: calc(0px - calc(var(--ds-lineHeight--XS) / 1.5));

    padding-left: var(--ds-spacing--XS);
    padding-right: var(--ds-spacing--XS);

    background-color: var(--ds-input-background-color);
}

.ds-c-input__number-buttons {
    display: flex;
    flex-direction: column;
}

.ds-c-input__number-buttons .ds-c-icon {
    outline: none;
}

.ds-c-input__min-max {
    display: flex;
    align-items: center;
    justify-content: space-between;

    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-c-input__input {
    box-sizing: content-box;
    display: block;

    padding: 0;
    margin: 0;

    border: 0;
    background: none;

    min-width: 0; /* Make the item shrink with firefox */
    width: 100%; /* IE11 issue */
}

.ds-c-input__input::placeholder {
    color: var(--ds-placeholder-color);

    font-family: var(--ds-text-fontFamily);
    font-size: var(--ds-text-fontSize);
    line-height: var(--ds-text-lineHeight);
    font-weight: var(--ds-text-fontWeight);
    text-transform: var(--ds-text-transform);
}

.ds-c-input__input:focus {
    outline: 0;
}

.ds-c-input__input[disabled] {
    pointer-events: none;
}

.ds-c-input__input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.ds-c-input__input[type="number"]::-webkit-inner-spin-button,
.ds-c-input__input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
