.ds-c-radio-group {
    display: flex;
    flex-direction: column;
}

.ds-c-radio-group .ds-c-radio__label:not(:last-child),
.ds-c-radio-group .ds-c-radio-card:not(:last-child) {
    margin-bottom: var(--ds-spacing--XS);
}
