.ds-c-radio-card {
    --ds-card-spacing: var(--ds-spacing--M);

    position: relative;
    box-sizing: border-box;
}

.ds-c-radio-card:not([disabled]) {
    --ds-icon-color: var(--ds-status-color, var(--ds-textColor--accent));
}

.ds-c-radio-card--checked {
    --ds-card-spacing: calc(var(--ds-spacing--M) - var(--ds-border-size--L));

    --ds-border-color: var(--ds-color--blue-400);
    --ds-o-box-border: var(--ds-borderSolid--L);
}

.ds-c-radio-card .ds-c-radio {
    position: initial;
}
