.thc-c-radio-card {
    --thc-card-spacing: var(--thc-spacing--S);

    position: relative;
    box-sizing: border-box;
}

.thc-c-radio-card:not([disabled]) {
    --thc-icon-color: var(--thc-status-color, var(--thc-textColor--accent));
}

.thc-c-radio-card--checked {
    --thc-card-spacing: calc(var(--thc-spacing--S) - var(--thc-border-size--L));

    --thc-border-color: var(--thc-color--blue-400);
    --thc-o-box-border: var(--thc-borderSolid--L);
}

.thc-c-radio-card .thc-c-radio {
    position: initial;
}
