:root {
    --ds-slider-track-height: 6px;
    --ds-slider-thumb-size: 20px;
}

.ds-theme--light,
.ds-theme--dark {
    --ds-slider-color--progress: var(--ds-color--blue-400);
    --ds-slider-color--progress--hover: var(--ds-color--blue-200);
    --ds-slider-color--progress--focus: var(--ds-color--blue-500);
    --ds-slider-thumb-icon: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0Ljc2MzMgNi45MzkzOVY4LjczODU3SDUuMjM2NjlWNi45MzkzOUM1LjIzNjY5IDYuMTA0MTYgNC4yMjY4OSA1LjY4NTg4IDMuNjM2MjcgNi4yNzY0NkwwLjI3NDU5OSA5LjYzODE0Qy0wLjA5MTUzMjkgMTAuMDA0MyAtMC4wOTE1MzI5IDEwLjU5NzggMC4yNzQ1OTkgMTAuOTY0TDMuNjM2MjcgMTQuMzI1NkM0LjIyNjg1IDE0LjkxNjIgNS4yMzY2OSAxNC40OTc5IDUuMjM2NjkgMTMuNjYyN1YxMS44NjM2SDE0Ljc2MzNWMTMuNjYyOEMxNC43NjMzIDE0LjQ5OCAxNS43NzMxIDE0LjkxNjMgMTYuMzYzNyAxNC4zMjU3TDE5LjcyNTQgMTAuOTY0QzIwLjA5MTUgMTAuNTk3OSAyMC4wOTE1IDEwLjAwNDMgMTkuNzI1NCA5LjYzODE4TDE2LjM2MzcgNi4yNzY1QzE1Ljc3MzEgNS42ODU4OCAxNC43NjMzIDYuMTA0MTYgMTQuNzYzMyA2LjkzOTM5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
}

.ds-theme--light {
    --ds-slider-color--default: var(--ds-color--black-20);
    --ds-slider-thumb-icon--disabled: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDAuMzEyNUM0LjY0OTc3IDAuMzEyNSAwLjMxMjUgNC42NDk3MyAwLjMxMjUgMTBDMC4zMTI1IDE1LjM1MDMgNC42NDk3NyAxOS42ODc1IDEwIDE5LjY4NzVDMTUuMzUwMiAxOS42ODc1IDE5LjY4NzUgMTUuMzUwMiAxOS42ODc1IDEwQzE5LjY4NzUgNC42NDk3NyAxNS4zNTAzIDAuMzEyNSAxMCAwLjMxMjVaTTE1LjA4MjMgNC45MTc2NkMxNy42Mzg5IDcuNDc0MjIgMTcuODE2NyAxMS4zODE4IDE1Ljg5IDE0LjEyMjJMNS44Nzc3MyA0LjExQzguNjIwMDggMi4xODIwMyAxMi41MjcyIDIuMzYyNTQgMTUuMDgyMyA0LjkxNzY2Wk00LjkxNzY2IDE1LjA4MjNDMi4zNjEwOSAxMi41MjU4IDIuMTgzMjggOC42MTgyNCA0LjEwOTk2IDUuODc3NzdMMTQuMTIyMyAxNS44OUMxMS4zOCAxNy44MTggNy40NzI4MSAxNy42Mzc1IDQuOTE3NjYgMTUuMDgyM1oiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
}

.ds-theme--dark {
    --ds-slider-color--default: var(--ds-color--white-20);
    --ds-slider-thumb-icon--disabled: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDAuMzEyNUM0LjY0OTc3IDAuMzEyNSAwLjMxMjUgNC42NDk3MyAwLjMxMjUgMTBDMC4zMTI1IDE1LjM1MDMgNC42NDk3NyAxOS42ODc1IDEwIDE5LjY4NzVDMTUuMzUwMiAxOS42ODc1IDE5LjY4NzUgMTUuMzUwMiAxOS42ODc1IDEwQzE5LjY4NzUgNC42NDk3NyAxNS4zNTAzIDAuMzEyNSAxMCAwLjMxMjVaTTE1LjA4MjMgNC45MTc2NkMxNy42Mzg5IDcuNDc0MjIgMTcuODE2NyAxMS4zODE4IDE1Ljg5IDE0LjEyMjJMNS44Nzc3MyA0LjExQzguNjIwMDggMi4xODIwMyAxMi41MjcyIDIuMzYyNTQgMTUuMDgyMyA0LjkxNzY2Wk00LjkxNzY2IDE1LjA4MjNDMi4zNjEwOSAxMi41MjU4IDIuMTgzMjggOC42MTgyNCA0LjEwOTk2IDUuODc3NzdMMTQuMTIyMyAxNS44OUMxMS4zOCAxNy44MTggNy40NzI4MSAxNy42Mzc1IDQuOTE3NjYgMTUuMDgyM1oiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=");
}

.ds-c-slider--error {
    --ds-slider-color--progress: var(--ds-color--error-400);
    --ds-slider-color--progress--hover: var(--ds-color--error-300);
    --ds-slider-color--progress--focus: var(--ds-color--error-500);
}

.ds-c-slider--success {
    --ds-slider-color--progress: var(--ds-color--success-400);
    --ds-slider-color--progress--hover: var(--ds-color--success-200);
    --ds-slider-color--progress--focus: var(--ds-color--success-500);
}

.ds-theme--light .ds-c-slider[disabled] {
    --ds-slider-color--progress: var(--ds-color--black-100);
}

.ds-theme--dark .ds-c-slider[disabled] {
    --ds-slider-color--progress: var(--ds-color--white-100);
}

.ds-c-slider[disabled] {
    --ds-slider-thumb-icon: var(--ds-slider-thumb-icon--disabled);
}

/* Component */

.ds-c-slider {
    width: 100%;
}

.ds-c-slider__texts {
    margin-bottom: var(--ds-spacing--XS);
}

.ds-c-slider__helper-text {
    --ds-text-color: var(--ds-textColor--secondary);
}

.ds-c-slider__label + .ds-c-slider__helper-text {
    margin-left: var(--ds-spacing--XS);
}

.ds-c-slider__minmax {
    --ds-text-color: var(--ds-textColor--secondary);

    display: flex;
    justify-content: space-between;
}

.ds-c-slider__input {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1.5em + var(--ratio) * (100% - 1.5em));

    --ds-slider-thumb-background: var(--ds-slider-thumb-icon) var(--ds-slider-color--progress) center / 70% no-repeat;

    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: var(--ds-slider-thumb-size);

    background: transparent;
}

.ds-c-slider__input:not([disabled]):hover {
    --ds-slider-color--progress: var(--ds-slider-color--progress--hover);
}

.ds-c-slider__input:not([disabled]):focus {
    --ds-slider-color--progress: var(--ds-slider-color--progress--focus);

    outline: none;
}

/* Thumb styling */

.ds-c-slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: var(--ds-slider-thumb-size);
    height: var(--ds-slider-thumb-size);
    border-radius: 50%;
    margin-top: calc((var(--ds-slider-thumb-size) - var(--ds-slider-track-height)) / -2);

    background: var(--ds-slider-thumb-background);
    cursor: pointer;
}
.ds-c-slider__input[disabled]::-webkit-slider-thumb {
    cursor: not-allowed;
}

.ds-c-slider__input::-moz-range-thumb {
    width: var(--ds-slider-thumb-size);
    height: var(--ds-slider-thumb-size);
    border-radius: 50%;
    border: none;

    background: var(--ds-slider-thumb-background);
    cursor: pointer;
}
.ds-c-slider__input[disabled]::-moz-range-thumb {
    cursor: not-allowed;
}

.ds-c-slider__input::-ms-thumb {
    width: var(--ds-slider-thumb-size);
    height: var(--ds-slider-thumb-size);
    border-radius: 50%;

    background: var(--ds-slider-color--progress);
    cursor: pointer;
}
.ds-c-slider__input[disabled]::-ms-thumb {
    cursor: not-allowed;
}

/* Track styling */

.ds-c-slider__input::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--ds-slider-track-height);

    background: var(--ds-slider-color--default);
    border-radius: var(--ds-radius--S);

    cursor: pointer;
}
.ds-c-slider__input::-webkit-slider-runnable-track {
    background: linear-gradient(var(--ds-slider-color--progress), var(--ds-slider-color--progress)) 0 / var(--sx) 100%
        no-repeat var(--ds-slider-color--default);
}
.ds-c-slider__input[disabled]::-webkit-slider-runnable-track {
    cursor: not-allowed;
}

.ds-c-slider__input::-moz-range-track {
    width: 100%;
    height: var(--ds-slider-track-height);

    background: var(--ds-slider-color--default);
    border-radius: var(--ds-radius--S);

    cursor: pointer;
}
.ds-c-slider__input::-moz-range-progress {
    width: 100%;
    height: var(--ds-slider-track-height);

    background: var(--ds-slider-color--progress);
    border-radius: var(--ds-radius--S);

    cursor: pointer;
}
.ds-c-slider__input[disabled]::-moz-range-track {
    cursor: not-allowed;
}
.ds-c-slider__input[disabled]::-moz-range-progress {
    cursor: not-allowed;
}

.ds-c-slider__input::-ms-track {
    width: 100%;
    height: var(--ds-slider-track-height);

    background: transparent;
    border-color: transparent;
    color: transparent;

    cursor: pointer;
}
.ds-c-slider__input::-ms-fill-lower {
    background: var(--ds-slider-color--progress);
}
.ds-c-slider__input::-ms-fill-upper {
    background: var(--ds-slider-color--default);
}
.ds-c-slider__input[disabled]::-ms-track {
    cursor: not-allowed;
}
