.ds-theme--light {
    --ds-switch-color: var(--ds-color--black-40);
    --ds-switch-color--hover: var(--ds-color--black-20);
    --ds-switch-color--disabled: var(--ds-color--black-20);

    --ds-switch-color--checked: var(--ds-color--blue-500);
    --ds-switch-color--checked-hover: var(--ds-color--blue-400);

    --ds-switch-background-color: none;
    --ds-switch-background-color--disabled: var(--ds-color--black-10);
}

.ds-theme--dark {
    --ds-switch-color: var(--ds-color--white-40);
    --ds-switch-color--hover: var(--ds-color--white-60);
    --ds-switch-color--disabled: var(--ds-color--white-20);

    --ds-switch-color--checked: var(--ds-colorDataviz--skyblue-80);
    --ds-switch-color--checked-hover: var(--ds-colorDataviz--skyblue-100);

    --ds-switch-background-color--disabled: var(--ds-color--white-10);
}

.ds-c-switch--error {
    --ds-switch-color: var(--ds-color--error-200);
    --ds-switch-color--hover: var(--ds-color--error-100);

    --ds-switch-color--checked: var(--ds-color--error-500);
    --ds-switch-color--checked-hover: var(--ds-color--error-400);
}

.ds-theme--dark .ds-c-switch--error {
    --ds-switch-color: var(--ds-colorDataviz--red-40);
    --ds-switch-color--hover: var(--ds-colorDataviz--red-60);

    --ds-switch-color--checked: var(--ds-colorDataviz--red-80);
    --ds-switch-color--checked-hover: var(--ds-colorDataviz--red-100);
}

.ds-c-switch {
    --ds-switch-cursor: var(--ds-cursor--pointer);
    --ds-switch-cursor--disabled: var(--ds-cursor--default);

    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    flex-shrink: 0;
    z-index: 0;

    width: 50px;
    height: 30px;

    background-color: var(--ds-switch-background-color);
    border: 5px solid var(--ds-switch-color);
    border-radius: 18px;

    cursor: var(--ds-switch-cursor);

    --ds-text-color: var(--ds-switch-color);
}

.ds-c-switch--disabled-color-toggle:not([disabled]),
.ds-c-switch--checked:not([disabled]) {
    --ds-switch-color: var(--ds-switch-color--checked);
    --ds-switch-color--hover: var(--ds-switch-color--checked-hover);
}

.ds-c-switch:hover:not([disabled]) {
    --ds-switch-color: var(--ds-switch-color--hover);
}

.ds-c-switch[disabled] {
    --ds-switch-color: var(--ds-switch-color--disabled);
    --ds-switch-cursor: var(--ds-switch-cursor--disabled);
    --ds-switch-background-color: var(--ds-switch-background-color--disabled);
}

.ds-c-switch__thumb {
    position: absolute;
    top: 3px;
    left: 4px;

    background-color: currentColor;
    width: 14px;
    height: 14px;
    border-radius: 50%;

    transition: transform var(--ds-animationDuration--S);
}

.ds-c-switch--checked .ds-c-switch__thumb {
    transform: translate(18px);
}

.ds-c-switch__input {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}
